[submodule "client-gateway"]
	path = client-gateway
	url = git@github.com:nest-ms-products/client-gateway.git
[submodule "ms-products"]
	path = ms-products
	url = git@github.com:nest-ms-products/ms-products.git
[submodule "ms-orders"]
	path = ms-orders
	url = git@github.com:nest-ms-products/ms-orders.git
[submodule "ms-payments"]
	path = ms-payments
	url = git@github.com:nest-ms-products/ms-payments.git
[submodule "ms-auth"]
	path = ms-auth
	url = git@github.com:nest-ms-products/ms-auth.git
